# NOTE: This file is managed by puppetsync.  Make sure any changes are
#       reflected in the control repo.
.*.sw?
.yardoc
.idea/
dist
/pkg
/spec/fixtures
/spec/rp_env
/.rspec_system
/.vagrant
/.bundle
/vendor
/junit
/log
/doc
